<a href="https://colab.research.google.com/github/Shryaaa/shreya/blob/main/mtcars_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
from google.colab import files
uploaded=files.upload()
df=pd.read_csv('mtcars.csv')
df.head(5)

Saving mtcars.csv to mtcars.csv

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [6]:
df.tail(10)

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
22       AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23        Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24  Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25         Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26     Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27      Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28    Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29      Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30     Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31        Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[10 rows x 12 columns]

In [7]:
df.shape

(32, 12)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [9]:
df.describe()

             mpg        cyl        disp  ...         am       gear     carb
count  32.000000  32.000000   32.000000  ...  32.000000  32.000000  32.0000
mean   20.090625   6.187500  230.721875  ...   0.406250   3.687500   2.8125
std     6.026948   1.785922  123.938694  ...   0.498991   0.737804   1.6152
min    10.400000   4.000000   71.100000  ...   0.000000   3.000000   1.0000
25%    15.425000   4.000000  120.825000  ...   0.000000   3.000000   2.0000
50%    19.200000   6.000000  196.300000  ...   0.000000   4.000000   2.0000
75%    22.800000   8.000000  326.000000  ...   1.000000   4.000000   4.0000
max    33.900000   8.000000  472.000000  ...   1.000000   5.000000   8.0000

[8 rows x 11 columns]

In [10]:
#data cleaning
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of     model    mpg    cyl   disp     hp  ...   qsec     vs     am   gear   carb
0   False  False  False  False  False  ...  False  False  False  False  False
1   False  False  False  False  False  ...  False  False  False  False  False
2   False  False  False  False  False  ...  False  False  False  False  False
3   False  False  False  False  False  ...  False  False  False  False  False
4   False  False  False  False  False  ...  False  False  False  False  False
5   False  False  False  False  False  ...  False  False  False  False  False
6   False  False  False  False  False  ...  False  False  False  False  False
7   False  False  False  False  False  ...  False  False  False  False  False
8   False  False  False  False  False  ...  False  False  False  False  False
9   False  False  False  False  False  ...  False  False  False  False  False
10  False  False  False  False  False  ...  False  False  False  False  False
11  False  False  False  False  False  ...  False  False  False  False  False
12  False  False  False  False  False  ...  False  False  False  False  False
13  False  False  False  False  False  ...  False  False  False  False  False
14  False  False  False  False  False  ...  False  False  False  False  False
15  False  False  False  False  False  ...  False  False  False  False  False
16  False  False  False  False  False  ...  False  False  False  False  False
17  False  False  False  False  False  ...  False  False  False  False  False
18  False  False  False  False  False  ...  False  False  False  False  False
19  False  False  False  False  False  ...  False  False  False  False  False
20  False  False  False  False  False  ...  False  False  False  False  False
21  False  False  False  False  False  ...  False  False  False  False  False
22  False  False  False  False  False  ...  False  False  False  False  False
23  False  False  False  False  False  ...  False  False  False  False  False
24  False  False  False  False  False  ...  False  False  False  False  False
25  False  False  False  False  False  ...  False  False  False  False  False
26  False  False  False  False  False  ...  False  False  False  False  False
27  False  False  False  False  False  ...  False  False  False  False  False
28  False  False  False  False  False  ...  False  False  False  False  False
29  False  False  False  False  False  ...  False  False  False  False  False
30  False  False  False  False  False  ...  False  False  False  False  False
31  False  False  False  False  False  ...  False  False  False  False  False

[32 rows x 12 columns]>

In [12]:

df.drop_duplicates(inplace=True)